<div class="container b mt-3 px-3">
  <form class="a row" [formGroup]="userDetails" (ngSubmit)="onSubmit()">
    <div class="col-md-2">
      <div class="mb-3">
        <label class="form-label" for="autoSizingSelect">Your Title</label>
        <select
          class="form-select"
          name="title"
          formControlName="title"
          id="autoSizingSelect"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        >
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Miss">Miss</option>
          <option value="Ms">Ms</option>
        </select>
        <div class="text-danger c mt-1" *ngIf="submitted && f.title.errors">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >First Name</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="First name"
          id="exampleFormControlInput1"
          name="firstName"
          formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
        />
        <span class="text-danger c mt-1">*Please enter the first Name</span>
      </div>
    </div>
    <div class="col-md-5">
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label"
          >last Name</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput2"
          placeholder="Last name"
          aria-label="Last name"
          name="lastName"
          formControlName="lastName"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
        />
        <span class="text-danger c mt-1">*Please enter the last name</span>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label class="form-label" for="inlineFormInputGroupUsername"
        >Username</label
      >
      <div class="input-group">
        <div class="input-group-text">@</div>
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroupUsername"
          placeholder="eg*(ASDasdf123)"
          name="userName"
          formControlName="userName"
          autocomplete="userName"
          [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
        />
      </div>
      <span class="text-danger c mt-1">*Please enter valid Username</span>
    </div>
    <div class="col-md-4">
      <label for="inputPassword1" class="form-label">New Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword1"
        placeholder="Password"
        name="newPassword"
        formControlName="newPassword"
        autocomplete="new-password"
        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
      />
      <span class="text-danger c mt-1">*Please enter a valid password</span>
    </div>
    <div class="col-md-4">
      <label for="inputPassword2" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        placeholder="Password"
        autocomplete="confirm-password"
      />
      <span class="text-danger c mt-1">*Please repeat the same password</span>
    </div>
    <div class="col-md-4 mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <span class="text-danger c mt-1"
        >*please enter the valid email address</span
      >
    </div>
    <div class="col-md-4">
      <label class="form-label d-block">Gender</label>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="male"
        />
        <label class="form-check-label" for="inlineRadio1">male</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="female"
        />
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="other"
        />
        <label class="form-check-label" for="inlineRadio3">other</label>
      </div>
      <div class="text-danger c mt-1">*please select the Gender</div>
    </div>
    <div class="col-md-4">
      <p>Subscription pack</p>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="Goat User"
          id="flexCheckDefault"
          name="subscription"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Goat User
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          value="Premium User"
          id="flexCheckChecked"
          name="subscription"
          checked
        />
        <label class="form-check-label" for="flexCheckChecked">
          Premium User
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <!-- <pre><code>{{userDetails.invalid | json}}</code></pre> -->
    <pre><code>{{userDetails.value | json}}</code></pre>
  </form>
</div>
<!---->
